<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.arabutamilkeyboard">

<application
    android:allowBackup="true"
    android:icon="@drawable/kayalkaran"
    android:label="Arwi-ArabuTamil Keyboard "
    android:roundIcon="@drawable/kayalkaran"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <service
        android:name=".ArabuTamil"
        android:label="Arwi-ArabuTamil Keyboard"
        android:permission="android.permission.BIND_INPUT_METHOD"
        >
        <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        <intent-filter>
            <action android:name="android.view.InputMethod"/>
        </intent-filter>
    </service>
</application>

</manifest>